<div class="container">

    <form class="search-form" id="search-form">
      <input
        type="text"
        class="input"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit" class="button">Search</button>
    </form>

    <infinite-scroll data-threshold="1">
      <div class="gallery infinite-scroll">
        <!-- Карточки изображений -->
      </div>
    </infinite-scroll>

    <!-- <button type="button" class="load-more button button__more">Load more</button> -->

</div>